.tiles
  - @foods.each do |food|      
    = link_to wing_room_patient_meals_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, id: @meal.id, food_id: food.id), method: :post, class: "tile icon bg-color-green" do
      .tile-content
        %h1.icon-large.icon-box 
      .brand
        .name
        = food.name

        
.diet_foods
  - @meal.foods.each do |food|      
    =link_to wing_room_patient_meal_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, meal_id: @meal.id, food_id: food.id), method: :delete, class: "tile icon bg-color-green" do
      .tile-content
        %h1.icon-large.icon-box 
      .brand
        .name
        = food.name

.place_order
  = link_to place_order_wing_room_patient_meal_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, id: @meal.id), method: :post, class: "tile icon bg-color-green" do
    .tile-content
      %h1.icon-large.icon-box 
    .brand
      .name
        Place Order
