.tiles
  %a{:class => "tile icon bg-color-#{@patient.color("Breakfast")}", href: select_option_for_patients_wing_room_patient_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, id: "Breakfast")}
    .tile-content
      %h1.icon-large.icon-coffee
    .brand
      .name
        Breakfast
.tiles
  %a{:class => "tile icon bg-color-#{@patient.color("Lunch")}", href: select_option_for_patients_wing_room_patient_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, id: "Lunch")}
    .tile-content
      %h1.icon-large.icon-basket
    .brand
      .name
        Lunch
.tiles
  %a{:class => "tile icon bg-color-#{@patient.color("Supper")}", href: select_option_for_patients_wing_room_patient_path(wing_id: @wing.id, room_id: @room.id, patient_id: @patient.id, id: "Supper")}
    .tile-content
      %h1.icon-large.icon-moon
    .brand
      .name
        Supper
  
