%a.tile.icon.bg-color-green{href: new_admin_room_patient_allergy_path(@room, @patient) }
  .tile-content
    %h1.icon-large.icon-plus-2
  .brand
    .name
      Add an Allergy


%div.right_side_bar
  %table.allergies
    %thead
      %td
        Allergies
      %td
        &nbsp
      %td
        &nbsp
    %tbody
      - @allergies.each do |allergy|
        %tr
          %td 
            = allergy.kind 
          %td
            = link_to edit_admin_room_patient_allergy_path(room_id: @room.id, patient_id: @patient.id, id: allergy.id), class: "Tile icon bg-color-redDark" do
              .tile-content
                %h1.icon-large.icon-pencil
          %td
            Delete
