%a.tile.icon.bg-color-green{href: new_admin_room_path() }
  .tile-content
    %h1.icon-large.icon-plus-2
  .brand
    .name
      Add a Room
- @rooms.each do |room|
  .tiles
    %a.tile.icon.bg-color-green{href: admin_room_path( room) }
      .tile-content
        %h1.icon-large.icon-drawer-2
      .brand
        .name
          = "Room #{room.number.to_s}"
