%a.tile.icon.bg-color-green{href: admin_room_patients_path(@room)}
  .tile-content
    %h1.icon-large.icon-user
  .brand
    .name
      Patient Management

%a.tile.icon.bg-color-green{href: update_room_number_admin_room_path(@room)}
  .tile-content
    %h1.icon-large.icon-user
  .brand
    .name
      Edit Room Number

=link_to admin_room_path(id: @room.id), method: :delete, class: "tile icon bg-color-redDark" do
  .tile-content
    %h1.icon-large.icon-cancel-2 
  .brand
    .name
      Delete Room

