- 2.times do |index|
  %a.tile.icon.bg-color-green{href: update_patients_admin_room_path(id: @room.id, patient_count: index + 1)}
    .tile-content
      %h1.icon-large.icon-user-2
    .brand
      .name
        = (index + 1).to_s + " Patients"
