.tiles
  - 500.times do |room_number|
    = link_to admin_room_path(room_id: @room.id, number: room_number + 1), method: :put, class: "tile icon bg-color-green" do
      .tile-content
        %h1.number-large #{room_number + 1}
      .brand
        .name
          Room Number
