.tiles
  %a.tile.icon.bg-color-green{href: admin_wings_path}
    .tile-content
      %h1.icon-large.icon-home
    .brand
      .name
        Floor Management
  %a.tile.icon.bg-color-green{href: admin_diets_path}
    .tile-content
      %h1.icon-large.icon-clipboard
    .brand
      .name
        Diet Management
  %a.tile.icon.bg-color-green{href: admin_foods_path}
    .tile-content
      %h1.icon-large.icon-apple
    .brand
      .name
        Food Management
  %a.tile.icon.bg-color-green{href: admin_orders_path}
    .tile-content
      %h1.icon-large.icon-clipboard-2
    .brand
      .name
        Order Management
