- @orders.each do |order|
  .tiles
    %a.tile.icon.bg-color-green{}
      .tile-content
        %h1.icon-large.icon-clipboard-2
      .brand
        .name
          = "#{order.find_room.number}:#{order.find_patient.name}"
