=link_to admin_order_path(id: @order.id), method: :delete, class: "tile icon bg-color-redDark" do
  .tile-content
    %h1.icon-large.icon-cancel-2 
  .brand
    .name
      Delete Room

%div
  %h2 Spectrum Health Big Rapids
  %h3 Nutrition Service Menu

  %h4 Lunch
  %table.diets
    %thead
      %td
        Diets
    %tbody
      - @order.find_patient.diets.each do |diet|
        %tr
          %td.diets 
            = diet.name 
