- @rooms.each do |room|      
  .tiles
    %a.tile.icon.bg-color-green{href: wing_room_patients_path(@wing, room)}
      .tile-content
        %h1.icon-large.icon-database
      .brand
        .name
          = room.number
