- @patients.each do |patient|      
  .tiles
    %a.tile.icon.bg-color-green{href: wing_room_patient_meals_path(@wing, @room, patient)}
      .tile-content
        %h1.icon-large.icon-user
      .brand
        .name
          = patient.number
