- %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday).each do |day|
  .tiles
    %a{:class => "tile icon bg-color-green", href: new_admin_menu_day_path(menu_id: @menu.id, id: "#{day}")}
      .tile-content
        %h1.icon-large.icon-smiley
      .brand
        .name
          = day
