.tiles
  %a{:class => "tile icon bg-color-#{@patient.color(@kind)}", href: new_room_patient_meal_order_path(room_id: @room.id, patient_id: @patient.id, meal_id: @meal.id)}
    .tile-content
      %h1.icon-large.icon-basket
    .brand
      .name
        Patient Meal

  %a{:class => "tile icon bg-color-green", href: room_patient_meal_orders_path(room_id: @room, patient_id: @patient, meal_id: @meal)}
    .tile-content
      %h1.icon-large.icon-basket
    .brand
      .name
        Family Meals
