.tiles
  %a.tile.icon.bg-color-green{href: new_admin_wing_path}
    .tile-content
      %h1.icon-large.icon-plus-2
    .brand
      .name
        Add a Floor

- @wings.each do |wing|      
  .tiles
    %a.tile.icon.bg-color-green{href: admin_wing_path(wing)}
      .tile-content
        %h1.icon-large.icon-home
      .brand
        .name
          = wing.name
