.tiles
  - @foods.each do |food|      
    = link_to food.name, admin_diet_foods_path(id: @diet.id, food_id: food.id), method: :post, class: "tile icon bg-color-green"  

.diet_foods
  - @diet.foods.each do |food|      
    =link_to food.name, admin_diet_food_path(diet_id: @diet.id, id: food.id), method: :delete, class: "tile icon bg-color-green"  
