.tiles
  %a{:class => "tile icon bg-color-green", href: new_admin_menu_day_meal_path(menu_id: @menu.id, day_id: @day.id, id: "Breakfast")}
    .tile-content
      %h1.icon-large.icon-coffee
    .brand
      .name
        Breakfast
.tiles
  %a{:class => "tile icon bg-color-green", href: new_admin_menu_day_meal_path(menu_id: @menu.id, day_id: @day.id, id: "Lunch")}
    .tile-content
      %h1.icon-large.icon-basket
    .brand
      .name
        Lunch
.tiles
  %a{:class => "tile icon bg-color-green", href: new_admin_menu_day_meal_path(menu_id: @menu.id, day_id: @day.id, id: "Supper")}
    .tile-content
      %h1.icon-large.icon-moon
    .brand
      .name
        Supper
