%a.tile.icon.bg-color-green{href: admin_wing_room_patients_path(@wing, @room)}
  .tile-content
    %h1.icon-large.icon-database
  .brand
    .name
      Patient Management

- 2.times do |index|
  %a.tile.icon.bg-color-green{href: update_patients_admin_wing_room_path(wing_id: @wing.id, id: @room.id, patient_count: index + 1)}
    .tile-content
      %h1.icon-large.icon-lab
    .brand
      .name
        = (index + 1).to_s + " Patients"
