- @rooms.each do |room|
  .tiles
    %a.tile.icon.bg-color-green{href: edit_admin_wing_room_path(@wing, room) }
      .tile-content
        %h1.icon-large.icon-drawer-2
      .brand
        .name
          = "Room #{room.number.to_s}"
