.model
  border-bottom: 1px solid #ccc

div.diet_foods
  width: 100%
  position: fixed
  bottom: 0px
  border-color: #000000
  border-top-style: solid
  padding-top: 10px
  padding-left: 5px

.patient_diets
  position: fixed
  bottom: 0px
