.model
  border-bottom: 1px solid #ccc

div.diet_foods
  width: 100%
  position: fixed
  display: block
  top: 0px
  left: 0px
  border-color: #000000
  background: #FFFFFF
  border-bottom-style: solid
  padding-top: 10px
  padding-left: 5px
  z-index: 99

div.diet_foods
  a.tile
    width: 75px
    height: 75px
    margin: 2px

div.diet_foods
  .tile-content
    .just_letters
      position: relative
      top: 40%
      left: 20%

div.diet_foods
  .tile-content
    .checkmark
      position: relative
      top: -30%

div.foods_to_select
  padding-top: 163px
  margin-top: 10px
  bottom: 0px
  width: 100%
  position: relative
  z-index: -1

.patient_diets
  position: fixed
  bottom: 0px
