.tiles
  %a.tile.icon.bg-color-green{href: new_admin_menu_path}
    .tile-content
      %h1.icon-large.icon-plus-2
    .brand
      .name
        Add a Menu

- @menus.each do |menu|      
  .tiles
    %a.tile.icon.bg-color-green{href: admin_menu_path(menu)}
      .tile-content
        %h1.icon-large.icon-home
      .brand
        .name
          = menu.name
