- @wings.each do |wing|      
  .tiles
    %a.tile.icon.bg-color-green{href: wing_rooms_path(wing)}
      .tile-content
        %h1.icon-large.icon-plus-2
      .brand
        .name
          = wing.name
