= form_for  [:admin, @wing, @room, @patient] do |patient_form|
  %fieldset
    .control-group
      = patient_form.label :name, 'Patient Name'
      .controls
        = patient_form.text_field :name
    .form-actions
      = patient_form.submit 'Save'
