- @patients.each do |patient|      
  .tiles
    %a.tile.icon.bg-color-green{href: edit_admin_wing_room_patient_path(@wing, @room, patient)}
      .tile-content
        %h1.icon-large.icon-user-2
      .brand
        .name
          = patient.number.to_s
