.tiles
  %a.tile.icon.bg-color-green{href: admin_room_patient_diets_path(@room, @patient)}
    .tile-content
      %h1.icon-large.icon-clipboard
    .brand
      .name
        Patient Diets
        
  %a.tile.icon.bg-color-green{href: edit_patient_name_admin_room_patient_path(@room, @patient)}
    .tile-content
      %h1.icon-large.icon-pencil
    .brand
      .name
        Edit Patient Name

  %a.tile.icon.bg-color-green{href: admin_room_patient_allergies_path(@room, @patient)}
    .tile-content
      %h1.icon-large.icon-flag-2
    .brand
      .name
        Allergy Management

  %a.tile.icon.bg-color-green{href: admin_room_patient_likes_path(room_id: @room.id, patient_id: @patient.id)}
    .tile-content
      %h1.icon-large.icon-thumbs-up
    .brand
      .name
        Likes Management

  %a.tile.icon.bg-color-green{}
    .tile-content
      %h1.icon-large.icon-thumbs-down
    .brand
      .name
        Dislikes Management
  %a
    = link_to admin_room_patient_path(room_id: @room.id, id: @patient.id), class: "tile icon bg-color-redDark",  method: :delete do
      .tile-content
        %h1.icon-large.icon-cancel-2
