.tiles
  %a.tile.icon.bg-color-green{href: edit_admin_room_patient_path(@room, @patient)}
    .tile-content
      %h1.icon-large.icon-pencil
    .brand
      .name
        Patient Diets
        
  %a.tile.icon.bg-color-green{href: edit_patient_name_admin_room_patient_path(@room, @patient)}
    .tile-content
      %h1.icon-large.icon-pencil
    .brand
      .name
        Edit Patient Name
